body {
    background-color: ivory;
    margin: 5%;
    border: solid 3px crimson;
    padding: 5%;
}
img {
    width: 26%;
    margin-left: 37%;
    margin-bottom: 3%;
}
.huflag {
    width: 5%;
}
.enflag {
    width: 5%;
    margin-left: 0;
    margin-right: 37%;
    float: right;
}
.nameplate {
    text-align: center;
    padding: 40px;
    margin: 0 37%;
    line-height: 50px;
}
h2 {
    color: crimson;
    border-bottom: solid 3px crimson;
    margin: 50px 37% auto 10%;
}
p {
   margin-left: 15%;
   line-height: 30px;
}
div {
    margin-top: 50px;
}